@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.clr-bg-primary{
    background-color: #102B3C;
}

.clr-primary{
    color: #102B3C;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.clr-accent {
    color: #ED1C24;
}

.clr-bg-accent {
    background-color: #ED1C24;
}

.hover-clr-bg-accent-light:hover {
    background-color: #ff575d;
}

.hover-clr-accent:hover {
    color: #ED1C24;
}

.active-clr-accent:active {
    color: #ED1C24;
}

.focus-clr-accent {
    color: #ED1C24;
}

.hover-clr-bg-accent:hover {
    background-color: #ED1C24;
}

.hover-clr-bg-primary-light:hover {
    background-color: #3292ce;
}

.hover-clr-bg-primary:hover {
    background-color: #102B3C;
}

.hover-clr-primary:hover {
    color: #102B3C;
}


